Server:
  Port: 3000
  Debug: false

Database:
  Host: mysql-db
  Port: 3306
  Name: transactions
  User: mysql
  Password: pwd

AWS:
  Region: "us-east-1"
  S3:
    Bucket: "joaltoroc-storicard"

Notification:
  ApiKey: ""
  TemplateID: ""
  From: "joaltoroc@jatc.co"